---
layout: default
---

<div class="pages-index">
  <h3>Pages</h3>
  <ul>
    {% for page in site.pages %}
      {% if page.list %}
        <li>
          <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<hr />
<div class="blog-index">
  <h3>Posts</h3>
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
</div>